# VS Code
.vscode/

# Prerequisites
*.d

# Build
[Bb]uild/
[Bb]uild-dawn/
[Bb]uild-wgpu/
[Bb]uild-emscripten/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mtl

# Texture Files
*.jpg

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
